/*Nav*/
$nav_bg: #192a56;
$nav_color: #f5f6fa;

//Infobox
$bg--1: rgba(255, 0, 0, 0.5);
$bg--2: rgba(122, 233, 122, 0.425);
$bg--3: #fbc531be;

$bg--4: #ffe0e6;
$bg--5: #e4f4e8;
$bg--6: rgb(229, 230, 232);

$txt--1: #ff073a;
$txt--2: #62bf77;
$txt--3: #6c757d;

//
